.pricing-card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 85vh;

   .pricing-card-content {
      width: 618px;
      height: 974px;
      background: #FFFFFF;
      box-shadow: 0px 34px 44px rgba(0, 11, 115, 0.1);
      border-radius: 32px;
      padding: 64px;
      display: flex;
      flex-direction: column;

      .content-header-block {
         display: flex;
         flex-direction: column;
         align-items: center;

         .header-title {
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #0C1033;
         }

         .header-description {
            width: 340px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #0C1033;
            margin-top: 7px;
         }
      }
   }
}