@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 300;
}

* {
   font-family: 'Raleway';
   font-weight: 300;
   font-size: 1rem;
   color: #132B50;
}

.container-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

input, textarea {
   outline: none;
}

h2 {
   margin: 0;
}

p {
   margin: 0;
}